# Do not upload files compiled at runtime by Matlab
*.asv

# Matlab files
*.fig
*.mat

# Do not upload images and figures as these can be compiled by the user
*.fig
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# Do not upload compiled LaTeX files
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.pdf

# Dropbox files
*.attrs
